<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SunCity.DAL.Properties.Settings.SuncityConnectionString"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=Suncity;Persist Security Info=True;User ID=sa;Password=C0ns0le"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>