@model SunCity.DAL.TblPackage
@{
    ViewBag.Title = "Edit Package";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
            </div>
            <!-- panel-btns -->
            <h4 class="panel-title">View Package</h4>
            <p>This form is used to edit packages.</p>
        </div>
        @using (Html.BeginForm("EditPackage", "Function", FormMethod.Post, new { id = "AddPackage" }))
        {  
            @Html.HiddenFor(x => x.PackageId)

            <div class="panel-body">
                <div class="errorForm"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Package Name</label>
                            @Html.TextBoxFor(x => x.PackageName, new { @class = "form-control", @title = "Package name is required!", @required = "required" })
                        </div>
                        <!-- form-group -->
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Is Deleted</label>
                            <div class="checkbox block">
                                @if (Model.IsDeleted == false)
                                {
                                
                                    <label>
                                        <input type="checkbox" name="IsDeleted" /></label>
                                
                                }
                                else
                                {
                                
                                    <label>
                                        <input type="checkbox" name="IsDeleted" checked="checked" /></label>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row -->


                <!-- row -->
            </div>
            <!-- panel-body -->
            <div class="panel-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <input type="hidden" id="hiddendeleteflag" name="hiddendeleteflag" value="0" />
                @*<button class="btn btn-warning" type="submit" onclick="setDeleteFlag();">Delete</button>*@
                <input type="hidden" id="hiddencancelflag" name="hiddencancelflag" value="0" />
                <button class="btn btn-default" type="submit" onclick="setCancelFlag();">Cancel</button>
            </div>
            <!-- panel-footer -->
        }
    </div>
    <!-- panel -->
</div>

<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script>
    function setDeleteFlag() {
        var r = confirm("Are you sure you want to delete this Package?");
        if (r == true) {
            $("#hiddendeleteflag").val("1");
        } else {
            $("#hiddendeleteflag").val("0");
            return false;
        }

    }
    function setCancelFlag() {
        $("#hiddencancelflag").val("1");
    }
    $(document).ready(function () {

        // Error Message In One Container
        $("#AddPackage").validate({
            errorLabelContainer: $("#AddPackage div.errorForm")
        });



    });
        </script>
